.top-container{
    background-color: #FDF6F0;
}
img{
    width: 80%;
    height: auto;
}
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-container svg{
   display: block;
   margin-bottom: 0;
   margin-top: 10px;
 
}

.type-writer{
    font-family: 'Cutive Mono', monospace;
    font-size: 2vh;
}

.text{
    color:#7B78A4;
    font-family: 'Sacramento', cursive;
    font-size: 8vh;
    padding-top: 80px;
    
}
@media screen and (min-width: 500px) {
    img {
      width: 25rem;
    }
  }